body {background-color: rgb(51, 51, 51);}

svg {
  -webkit-filter: invert(80%); /* safari 6.0 - 9.0 */
          filter: invert(80%);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

